@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-munayki-primary: #7F76B5;
  --color-munayki-secondary: #B2F4DB;
  --color-munayki-alert: #F9CE95;
  --color-munayki-warning: #F99595;
  --color-munayki-hypervin: #95D8F9;
  --color-munayki-approved: #4EA135;
  --color-munayki-simple: #6C5F94;
}

.btn-light {
  @apply bg-white text-munayki-primary border border-munayki-primary;
}

.btn-dark {
  @apply bg-munayki-primary text-white;
}

.btn-simple {
  @apply bg-munayki-simple text-white;
}
